<div class="row">
    <div class="col-xs-12 total">
      <h2><input type="button" class="btn btn-success" value="Salvar PDF" (click)="downloadPDF()"/></h2>
    </div>
  </div>

  <div class="col-xs-12 total">
    <h2>Total: R${{total}}</h2>
  </div>

  <div class="row">
    <div class="col-xs-12">
  
      <form class="form" name="myForm">
          
          <table class="table table-striped table-dark">
  
            <thead>
              <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>R$</th>
                  <!-- <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>-->
                  <th>&nbsp;</th> 
              </tr>
            </thead>
            
            <tbody>
              <tr>
                  <td><input type="text" [(ngModel)]="Produto" [ngModelOptions]="{ standalone: true }" placeholder="Produto"></td>          
                  <td><input type="number" [(ngModel)]="Quantidade" [ngModelOptions]="{ standalone: true }" class="input-mini text-right" placeholder="Quantidade" step="any" /></td>
                  <td><input type="number" [(ngModel)]="Valor" [ngModelOptions]="{ standalone: true }" class="input-mini text-right" placeholder="Valor" step="any" /></td>
                  <td class="text-center"><input type="button"  class="btn btn-success" (click)="adicionarProduto()" value="adicionar" /></td> 
                  <!-- <td><button class="btn btn-mini btn-danger pull-right" title="Remover item da lista">X</button></td> -->
                  <!-- <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th> -->
              </tr>
            </tbody>

            <tbody>
              <tr *ngFor="let nome of nomes; let i = index">
                <th>{{nome.Produto}}</th>
                <th>{{nome.Quantidade}}</th>
                <th>R$: {{nome.ValorTotal}}</th> 
                <th>
                  <div class="col-xs-12">
                    <th><input type="button" class="btn btn-danger" value="Remover" (click)="removerProduto(i)"></th>
                    
                  </div>
                </th>
                <!-- <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>-->
              </tr>
            </tbody>
          </table>
          
      </form>
      
     </div>
     
  </div>